{{outlet}}

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-success">
        <div class="panel-heading">{{#link-to 'news-search'}}Search the News{{/link-to}}</div>
        <div class="panel-body">
          <img src="https://www.loubar.org/assets/images/newspaper-icon.png" class="img-responsive" style="width:100$" alt="Image">
        </div>
        <div class="panel-footer">
          Search for a specific topic in recent news articles.
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-danger">
        <div class="panel-heading">{{#link-to 'suggested-searches'}}Suggested Search Topics{{/link-to}}</div>
        <div class="panel-body">
          <img src="http://www.psdgraphics.com/file/magnifying-glass.jpg" class="img-responsive" style="width:78%" alt="Image">
        </div>
        <div class="panel-footer">
          Try some of these suggested searches to get started.
        </div>
      </div>
    </div>
  </div>

</div>
