<h3 class="search-header">Search for a particular topic in recent news articles</h3>

<form onsubmit={{action 'searchArticles'}} class="search-form">
  Topic: {{input type="text" value=topic}}
  <button type="submit">Search</button>
</form>

{{outlet}}
